<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <time xsi:type="AccurateUTC"/>

  <!-- optional, add some variabeles https://github.com/nlog/NLog/wiki/Configuration-file#variables -->
  <variable name="foldername" value="${basedir}\logs\${date:format=dd-MM-yyyy}"/>
  <variable name="defaultLayout" value="[${level:uppercase=true}]~~[${date:format=dd.MM.yyyy HH\:mm\:ss}]~~[${message} ${exception:format=ToString}]~=~LineEnd~=~"/>
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="File" name="default"
            fileName="${foldername}/logs.log"
            archiveAboveSize="4200000"
            layout="${defaultLayout}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="default" />
  </rules>
</nlog>