@using MetaNotes.Internationalization.UI.Layout
@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<header class="navbar navbar-static-top navbar-inverse bs-docs-nav pull-center" id="top" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        </button>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <div class="row">
            <div class=".col-xs-offset-1 col-xs-10 col-xs-offset-1">
                @{ Html.RenderAction("Menu", "Header"); }
            </div>
        </div>
    </nav>
</header>

@RenderBody()